{% extends "back/baseback.html.twig" %}

{%  block title %}Page admin | The Booster{% endblock %}

{% block body %}

    <div class="admin_list">
        <h1>Administration</h1>
        <hr>
    </div>

    <ul>
        <li><a href="{{ path('donneur_index') }}">Repertoire Donneur</a></li>
        <li><a href="{{ path('entrepreneur_index')}}">Repertoire Entrepreneur</a></li>
        <li><a href="{{ path('back_logout')}}">Déconnexion</a></li>
    </ul>

{% endblock %}