{% extends "back/baseback.html.twig" %}

{%  block title %}Page admin{% endblock %}

{% block body %}

    <h1>Administration</h1>

    <ul>
        <li><a href="{{ path('donneur_index') }}">Repertoire Donneur</a></li>
        <li><a href="{{ path('entrepreneur_index')}}">Repertoire Entrepreneur</a></li>
        <li>Changer mot de passe</li>
        <li><a href="{{ path('back_logout')}}">Déconnexion</a></li>
    </ul>

{% endblock %}