<html>
    <head></head>
    <body>
        <img src="{{ asset('/img/je-donne-2-heures-logo-header.png')}}" alt='inscription'>
        <h4>Bienvenue sur The Booster {{ donneur.firstName}} {{ donneur.Name}}</h4>
        <p>Nous vous remercions de votre intérêt et de votre inscription.<br> Découvrez très bientôt comment en offrant un peu de votre temps libre vous allez pouvoir aider concrêtement les Entrepreneurs et l'Économie.<br><br> À très vite.<br> L'équipe The Booster</p>".
    </body>
</html>