
/* CSS def*/

/* ALL */

body {
padding-top: 13vh;
}

h1 {
	text-align:center;
	margin-bottom:3vh;
}

h2 {
 	text-align:center;
 	margin-bottom:3vh;

 }

p {
 	text-align:justify;
 	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.35em;
 }


footer {
 	height:auto;
 	background-color: black;
 }

 h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
 }

.all_blsp {
	height: 10vh;
}

.all_blsp_md {
	height: 7.5vh;
}

.all_blsp_sm {
	height: 5vh;
}

.navbar {
	background-color: white;
	box-shadow: 0 3px 3px rgba(0,0,0,0.40);
	min-height: 5.375rem;
	font-size: 1.4em;
}

.navbar-nav > li > a {
	line-height: 7vh;
	color: black;
 }

.navbar-brand img {
	height: 10vh;
	margin-top: -2vh;
}

.nav-social {
	display: flex;
	flex-direction: row;
}


.nav-social img {
	height: 6vh;
	opacity: 0.5;
}
.nav-social img:hover{
	opacity: 1;
}

.navbar-collapse {
	background-color: white;
}

.icon-bar {
	background-color: black;
}

.foo_mention {
	height:15vh;
}

.foo_mention p {
	margin-top:1.5vh;
}

#foo_list {
	text-align: center;
}

#foo_list p {
	text-align: center;
}

.foo_social {
	height:10vh;
}

.foo_social img:hover{
	opacity: 1;
}

.foo_social > a > img {
	height:6vh;
	margin-top:2vh;
	margin-bottom:2vh;
	opacity: 0.5;
}


/* HOME */


.home_blimg_startup {
	border: 1px solid black;
	border-radius: 16px;
	width: 250px;
	height: 175px;
	margin-bottom: 5vh;
}
.home_blimg_startup img {
	vertical-align: middle;
	height: 60%;
	margin-top: 10%;
}
.home_blimg_startuplogo{
	text-align: center;
	opacity: 0;
	height: 100%;
	width: 120%;
	margin-left: -15px;
	padding: 0;
	background-color: rgba(255,255,255,0);
	border-radius: 13px;
}

.home_blimg_startuplogo:hover{
	opacity: 1;
	height: 100%;
	width: 113.8%;
	margin-left: -15px;
	padding: 0;
	background-color: rgba(255,255,255,0.9);
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}


.home_blimg_startup:hover {
	background-color:rgba(255,255,255,0.6);
}
#home_blimg_startup1 {
	background-image:url("../img/teststartup.jpg");
	background-repeat: round;
}

#home_blimg_startup2 {
	background-image:url("../img/teststartup.jpg");
	background-repeat: round;
}
#home_blimg_startup3 {
	background-image:url("../img/teststartup.jpg");
	background-repeat: round;
}
#home_blimg_startup4 {
	background-image:url("../img/teststartup.jpg");
	background-repeat: round;
}
#home_blimg_startup5 {
	background-image:url("../img/teststartup.jpg");
	background-repeat: round;
}
#home_blimg_startup6 {
	background-image:url("../img/teststartup.jpg");
	background-repeat: round;
}

.home_blimg_startup:hover {
	background-color: rgba(255,0,0,0.2);
	border: 3px solid red;
}


.home_btn_jqbar {

}

#home_btn_jqbar1 {
}
#home_btn_jqbar2 {
}


#home_video_ext {
	height:60vh;
}


#home_partenaire_list{
	background-color: #EAEAEA;
}

#home_partenaire_list img {
	height: 250px;
	margin: auto;
	padding-bottom: 10vh;
}

/* WHO */


.who_blocimg {
}

#who_blocimg_pic1 {
}

#who_blocimg_pic2 {
}


.who_bltxt {
}

.who_blocsoc img {
	height: 32px;
	opacity: 0.5;
}

.who_blocsoc img:hover{
	opacity: 1;
}

#who_bltxt_ext {
	height:80vh;
}

#who_bltxt_int {
}

#who_form_title {
	text-align: center;
}

#who_form_contact{
}


/* HOW */


.how_blocimg_ext {
}

.how_blocimg_int img {
	max-width: 70%;
	height:auto;
	margin:0% 15%;
}


.how_bloctxt_ext {
}

.how_bloctxt_int {
	height:100%
}

#howp_bltxt {
}

#howb_bltxt {
}

.how_form_ext {
}

.how_form_int {
	height:100%;
}

#howp_form {
}

#howb_form {
}


/* CSS tempo */


#home_video_int {
	height:100%;
}


#home_startup_list {
	height:auto;
}

#home_startup_title{
}

@media screen and (max-width: 770px) {
	.navbar-collapse {
		box-shadow: 0 3px 3px rgba(0,0,0,0.40);
	}

}