{%  extends "base.html.twig" %}

{%  block title %}Inscription validée | Je Donne 2 Heures{% endblock %}
{% block stylesheets %}
    <!-- Fichier CSS -->
    <link rel="stylesheet" href="{{ asset('/css/login.css')}}" >

{% endblock %}
{% block body %}

    <div class="row all_blsp"></div>

    <h1>Inscription validée</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                Votre inscription a bien été validée.<br>
                <a href="{{ path('front_homepage') }}">Retourner à la page d'accueil</a>.
            </div>
        </div>
    </div>
    <div class="row all_blsp"></div>

{% endblock %}