{% extends "base.html.twig" %}

{%  block title %}Mentions légales | Je Donne 2 Heures{% endblock %}

{%  block body %}
    <div class="ml_title">
        <h1 class="h1_toppage">MENTIONS LÉGALES</h1>
        <hr>
    </div>

    <div class="container body_ml">
        <p>The Booster est édité par l’EIRL ANTONINI, dont le siège social est situé au 4 Quai Jules Courmont 69002 LYON - France (métropolitaine), immatriculée au registre du commerce et des sociétés de Paris sous le numéro 753 253 327. Le site web est hébergé par OVH 2 rue KELLERMANN 59100 ROUBAIX. Le directeur de la publication du site est Nicolas ANTONINI.</p>
        <p>Tout le contenu (notamment éditorial, photos,vidéo) de ce site est protégé par la législation française et les traités internationaux (Convention de Berne, Code de la propriété intellectuelle Livre 1). Ils ne peuvent être recopiés sans l’autorisation expresse de EIRL ANTONINI. La réutilisation du contenu éditorial, photo, vidéo ou du site, dans quelque but que ce soit, est strictement interdite.<br/>
            Toutefois, la diffusion d'informations contenues sur ce site est envisageable pour des usages non commerciaux, mais uniquement avec l'accord de EIRL ANTONINI, et à condition qu'elles ne soient pas modifiées. Ces autorisations de reproduction sont accordées au cas par cas. Merci d'adresser vos demandes à contact@enmodeup.com.</p>
        <p>Dans une logique de respect de la vie privée de ses utilisateurs, la société EIRL ANTONINI s'engage à ce que la collecte et le traitement d'informations personnelles, effectués au sein du présent site, soient effectués conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, dite Loi « Informatique et Libertés». A ce titre, le site <a href="{{ 'http://www.the-booster.com' }}" target="_blank">the-booster.com</a> fait l'objet d'une déclaration à la CNIL sous le numéro 2001488 v 0.</p>
        <p>Conformément à l'article 34 de la loi Informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification, de modification et de suppression concernant les données qui vous concernent. Vous pouvez exercer ce droit sur le site à la page de désabonnement ou en rentrant directement en contact avec la société EIRL ANTONINI à l’adresse suivante : contact@the-booster.com Pour toute question concernant ces Mentions Légales, vous pouvez également nous contacter à cette même adresse.</p>
    </div>




{%  endblock %}