{% extends "base.html.twig" %}

{%  block title %}Mentions légales | Je Donne 2 Heures{% endblock %}

{%  block body %}
    <div class="ml_title">
        <h1 class="h1_toppage">MENTIONS LÉGALES</h1>
        <hr>
    </div>

{%  endblock %}