{% extends "base.html.twig" %}

{%  block title %}Plan du site | The Booster{% endblock %}

{%  block body %}
    <div class="ml_title">
        <h1 class="h1_toppage">PLAN DU SITE</h1>
        <hr>
    </div>

{%  endblock %}